<!DOCTYPE html>
<html>
  <head>
    <title>Secret</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>The Secret Message is  <%= title %></p>
  </body>
</html>