<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dear <%= title %></h1>
    <p>Your Email <%= title %> has been added to our subscribers list successfully.</p>
  
  </body>
</html>
